# Dependencies
node_modules/
yarn.lock
package-lock.json
pnpm-lock.yaml

# Keep pnpm-lock.yaml for reproducible builds

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local
#.env.example
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino-debug.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Vercel
.vercel